body{background-color: lab(35.06% 59.07 1.71);
color: rgb(65, 206, 225);
font-size:"100px";
}

h1{
    color: #fffb00;
}
p{
    color:#5bb483; font-size: 25px;
}

div{
    background-color: #696969;
    padding: 20px;
    border: 10px solid;
    border-radius: 20px;
    border-style: dotted;
    border-width: 5px;
    border-color: #d1b8f3;
    margin: 50px;
}

.imgRound{
  border-radius: 50%;
}

.fotos{ 
    background-color: #d1b8f3;
    border-style: none;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: left;

}

a{
    color: beige;
}

.divGral{
    background-color: lab(74.31% 28.08 -31.03);
    border-style: none;
    margin: 0px;
    padding: 10px;
}